body {
    margin: 0; 
    padding: 0; 
    background: linear-gradient(to left, #E6DADA 20%, rgba(240,168,211,1) 100%);
    animation: color 12s ease-in-out infinite;
    background-size: 400% 400%;
}

@keyframes color {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

h1{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #DAE6E6;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    opacity: 90%;
}

#elements{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px;
    gap: 2px;
}

#line{
    background-image: url(./media/line_icon.png);
    height: 30px;  
    width: 65px;
}

#rectangle{
    background-image: url(./media/rect_icon.png);
    height: 30px;  
    width: 65px;
}

#ellipse{
    background-image: url(./media/ellipse_icon.png);
    height: 30px;  
    width: 65px;
}

#undo_btn{
    background-image: url(./media/undo_icon.png);
    height: 30px;  
    width: 65px;
}

.svg_box{
    display: flex;
    justify-content: center;
    align-content: center;
}
